@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  font-size: 16px;
  --primaryFontFamily: Poppins, sans-serif;

  --themeWhite: #FEFEFE;
  --themeGreenMedium: #588D73;
  --themeGrayMedium: #7A7A7A;
  --themeOrangeMedium: #C6815B;
}

body {
  background-color: var(--themeWhite);
  color: var(--themeGrayMedium);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primaryFontFamily);
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 48px;
}

header {
  height: 650px;
  border-bottom: 2px solid #333;
}

header nav {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  margin: 0 5%;
}

.CTA {
  margin-top: 80px;
  text-align: center;
  height: 300px;
  width: 500px;
  margin-left: 12%;
  text-align: center;
}

.CTA h1 {
  margin: 0 auto;
  color: var(--themeGreenMedium);
  font-size: clamp(28px, 12vw, 40px);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.CTA p {
  margin: 0 auto;
  font-size: clamp(18px, 12vw, 24px);
  max-width: 35ch;
}

.CTA button {
  padding: 5px 20px;
  background-color: var(--themeGreenMedium);
  color: var(--themeWhite);
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  height: 48px;
  width: 300px;
  cursor: pointer;
  margin: 20px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.CTA button:hover {
  scale: 1.03;
  transition: 0.2s;
}

.hero-image-container {
  position: absolute;
  z-index: -1;
  top: -312px;
  right: 0;
  overflow-y: hidden;
  clip-path: polygon(51% 0, 100% 0%, 100% 100%, 0% 100%);
}

header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.list-item-login {
  display: none;
}

header nav a {
  font-size: clamp(18px, 12vw, 24px);
  text-decoration: none;
  margin: 0 10px;
  color: var(--themeOrangeMedium);
}

header nav a:hover,
header nav a:active {
  text-decoration: none;
  color: #3c7c5d;
}

header button.login {
  padding: 5px 20px;
  background-color: var(--themeGreenMedium);
  color: var(--themeWhite);
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
  height: 42px;
  width: 170px;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

header button.login:hover {
  filter: brightness(80%);
}

.menu-icon {
  display: none;

  background-color: var(--themeGreenMedium);
  border: 1px transparent;
}

#intro {
  display: flex;
  flex-flow: row wrap;
  margin: 80px 2.5rem 0 2.5rem;
  align-items: center;
  justify-content: space-between;
}

#intro img {
  width: 30%;
  height: 400px;
  background-color: gainsboro;
  object-fit: cover;
}

#intro p {
  width: 30%;
  flex-grow: 2;
  text-align: justify;
  margin: 2rem 4rem;
}

#sobre {
  margin: 4rem;
}

section > h2 {
  text-align: center;
  margin-bottom: 50px;
}

.container-cards-about {
  display: flex;
  gap: 1.5rem;
  flex-flow: row wrap;
  justify-content: center;
}

.card-about {
  text-align: center;
  width: 300px;
  height: 400px;  
}

.container-cards-plans {
  display: flex;
  gap: 1.5rem;
  flex-flow: row wrap;
  justify-content: center;
}

.card-plans {
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
  text-align: center;
  background-color: rgb(233, 233, 233);
  border-radius: 20px;
  width: 300px;
  height: 400px;
}

.card-plans:hover {
  box-shadow: 2px 2px 3px #888888;
  transition: 0.2s;
}

.card-plans-info {
  padding: 20px;
}

.card-plans > ul {
  margin: 0;
  margin-top: 25px;
}

.plans-btn {
  background-color: rgb(202, 202, 202);
  height: 60px;
  width: 100%;
  margin-bottom: 0;
  border-radius: 0 0 20px 20px;
  border: 0;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
}

.card-plans:hover {
  scale: 1.03;
  transition: 0.2s;
}

footer {
  margin-top: 150px;
  min-height: 200px;
  background-color: rgb(223, 223, 223);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-logo {
  padding: 80px;
  flex-grow: 1
}

.footer-right {
  padding: 80px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.info, .social {
  margin: 10px;
  width: 15rem;
}

@media screen and (max-width: 750px) {
  header ul {
    display: none;
    margin-top: 21px;
    margin-right: 5%;
    width: 250px;
    position: absolute;
    z-index: 1;
    right: 0;
    flex-direction: column;
  }

  header li {
    border-bottom: 1px solid var(--themeWhite);
    background-color: var(--themeGreenMedium);
    padding-top: 5px;
    width: 100%;
    height: 50px;
    text-align: center;
  }

  header li a {
    margin: 0 auto;
    padding: 5px 65px;
    color: var(--themeWhite);
  }

  header li a:hover {
    color: var(--themeWhite);
    opacity: 0.7;
  }

  .menu-icon {
    display: block;
  }

  button.login {
    display: none;
  }

  .list-item-login {
    display: initial;
  }

  .outdoor {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .CTA-glass {
    margin: 70px auto 0 auto;
    width: 540px;
    height: 340px;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
    background-color: var(--themeWhite);
    border-radius: 15px;
  }

  .CTA {
    margin: 100px auto 0 auto;
    text-align: center;
    height: 300px;
    width: 500px;
    text-align: center;
  }
  
  .hero-image-container {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 960px;
    overflow-y: hidden;
    clip-path: none;
  }

  .hero-image-container img {
    width: 100%;
    height: 960px;
  }

  #intro img {
    width: 100%;
  }

  #intro p {
    width: 100%;
    margin: 2rem 0;
  }
}