@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, sans-serif;
}

h1 {
  font-size: clamp(35px, 12vw, 80px);
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 48px;
}

header img {
  display: inline-block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 2rem 4rem;
}

header a {
  text-decoration: none;
  margin: 0 10px;
  color: #333;
}

header a:hover,
header a:visited,
header a:active {
  text-decoration: none;
  color: #3c7c5d;
}

header button.login {
  padding: 5px 20px;
  background-color: #477ae9;
  color: #fff;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  height: 42px;
  width: 170px;
  cursor: pointer;
}

header button.login:hover {
  filter: brightness(80%);
}

.outdoor {
  display: flex;
  justify-content: space-between;
  margin-block: 4rem;
  border-bottom: 2px solid #333;
}

.outdoor .CTA {
  margin-inline: auto;
  text-align: center;
  height: auto;
}

.outdoor h1 {
  text-shadow: 1px 1px 2px black;
}

.outdoor p {
  font-size: xx-large;
  text-shadow: 1px 1px 4px rgba(44, 44, 44, 0.4);

  max-width: 35ch;
}

.outdoor .hero-image-container {
  z-index: -1;
  position: relative;
  top: calc(-120px - 2 * 4rem);
  clip-path: polygon(51% 0, 100% 0%, 100% 100%, 0% 100%);
  content: cover;
  overflow: hidden;
}

.outdoor button {
  padding: 5px 20px;
  background-color: #477ae9;
  color: #fff;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  height: 48px;
  width: 300px;
  cursor: pointer;
  margin: 20px 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.outdoor button:hover {
  scale: 1.03;
  transition: 0.2s;
  
}

#intro {
  display: flex;
  margin: 0 5rem;
  align-items: center;
}

.section-text {
  margin-left: 4rem;
}

#sobre {
  margin: 4rem;
}

section > h2 {
  text-align: center;
  margin-bottom: 50px;
}

.container-cards-about {
  display: flex;
  gap: 1.5rem;
  flex-flow: row wrap;
  justify-content: center;
}

.card-about {
  text-align: center;
  width: 300px;
  height: 400px;  
}

.container-cards-plans {
  display: flex;
  gap: 1.5rem;
  flex-flow: row wrap;
  justify-content: center;
}

.card-plans {
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
  text-align: center;
  background-color: rgb(233, 233, 233);
  border-radius: 20px;
  width: 300px;
  height: 400px;
}

.card-plans:hover {
  box-shadow: 2px 2px 3px #888888;
  transition: 0.2s;
}

.card-plans-info {
  padding: 20px;
}

.card-plans > ul {
  margin: 0;
  margin-top: 25px;
}

.plans-btn {
  background-color: rgb(202, 202, 202);
  height: 60px;
  width: 100%;
  margin-bottom: 0;
  border-radius: 0 0 20px 20px;
  border: 0;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
}

.card-plans:hover {
  scale: 1.03;
  transition: 0.2s;
}