@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  font-size: 16px;
  --primaryFontFamily: Poppins, sans-serif;

  --themeWhite: #fefefe;

  --themeGreenExtraLight: #f1f4ef;
  --themeGreenLight: #e3f0ec;
  --themeGreenMediumLight: #bad7ce;
  --themeGreenMedium: #588d73;
  --themeGreenDark: #3c7c5d;

  --themeGrayMedium: #7a7a7a;

  --themeOrangeMedium: #c6815b;
  --themeOrangeLight: #ffc899;
  --themeOrangeDark: #e79d5d;

  --themeRedLight: #f39c94;
  --themeRedMedium: #d9645a;
  --themeRedDark: #c7463b;

  --themeYellowLight: #fef3bb;
  --themeYellowMedium: #f2e294;
  --themeYellowDark: #e8d57b;
}

body {
  background-color: var(--themeWhite);
  color: var(--themeGrayMedium);
  scroll-behavior: smooth;
  /* overflow: hidden; Remover esse atributo */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primaryFontFamily);
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 48px;
}

header {
  height: 650px;
  border-bottom: 1px solid var(--themeGreenMedium);
}

header nav {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  margin: 0 5%;
}

.CTA {
  margin-top: 80px;
  text-align: center;
  height: 300px;
  width: 500px;
  margin-left: 12%;
  text-align: center;
}

.CTA h1 {
  margin: 0 auto;
  padding-bottom: 20px;
  color: var(--themeGreenMedium);
  font-size: clamp(28px, 12vw, 40px);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.CTA p {
  margin: 0 auto;
  font-size: clamp(18px, 12vw, 24px);
  max-width: 35ch;
}

.custom-btn {
  padding: 5px 20px;
  display: inline-block;
  text-decoration: none;
  background-color: var(--themeGreenMedium);
  color: var(--themeWhite);
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  /* height: 48px; */
  max-width: 300px;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.custom-btn:hover {
  color: var(--themeOrangeLight);
  background-color: brightness(80%);
}

.hero-image-container {
  position: absolute;
  z-index: -1;
  top: -310px;
  right: 0;
  overflow-y: hidden;
  clip-path: polygon(51% 0, 100% 0%, 100% 100%, 0% 100%);
}

header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.list-item-login {
  display: none;
}

header nav a {
  font-size: clamp(18px, 12vw, 24px);
  text-decoration: none;
  margin: 0 10px;
  color: var(--themeOrangeMedium);
}

header nav a:hover,
header nav a:active {
  text-decoration: none;
  color: #3c7c5d;
}

header button.login {
  padding: 5px 20px;
  background-color: var(--themeGreenMedium);
  color: var(--themeWhite);
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
  height: 42px;
  width: 170px;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

header button.login:hover {
  filter: brightness(80%);
}

.menu-icon {
  display: none;
  background-color: var(--themeGreenMedium);
  border: 1px transparent;
}

.login-bg {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: none;
  justify-content: center;
  align-items: center;
}

.login-modal {
  margin: 5%;
  background-color: var(--themeGreenExtraLight);
  height: 400px;
  width: 600px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  padding: 20px;
}

.close-modal {
  position: relative;
  align-self: flex-end;
  z-index: 3;
  top: -42px;
  font-size: 22px;
  width: 40px;
  height: 39px;
  border: 2px solid var(--themeGreenMedium);
  color: var(--themeGreenMedium);
  border-radius: 50%;
}

.login-modal .select-login-type {
  margin-top: -38px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-modal .login-type-login,
.login-modal .login-type-signup {
  height: 100%;
  width: 50%;
  border: none;
  font-weight: 500;
  color: var(--themeGreenMedium);
}

.login-modal .login-type-login {
  background-color: var(--themeGreenExtraLight);
  border-left: 1px solid var(--themeGreenMedium);
  border-top: 1px solid var(--themeGreenMedium);
  border-right: 1px solid var(--themeGreenMedium);
}

.login-modal .login-type-signup {
  background-color: var(--themeGreenMediumLight);
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid var(--themeGreenMedium);
}

.form-login label,
.form-login button {
  width: 100%;
  margin-top: 10px;
}

.form-login input,
.form-login select {
  color: var(--themeGreenMedium);
}

.form-login input,
.form-login select,
.form-login button {
  padding-left: 10px;
  margin-top: 5px;
  height: 35px;
  width: 100%;
}

.form-login button {
  padding-left: 0;
  margin-top: 55px;
  font-size: 18px;
  align-self: flex-end;
  height: 40px;
  border-radius: 20px;
  background-color: var(--themeGreenMedium);
  color: var(--themeWhite);
  border: none;
}

.form-login button:hover {
  filter: brightness(80%);
}

.form-login button:active {
  transform: translateY(1px);
}

#intro {
  display: flex;
  flex-flow: row wrap;
  padding: 100px 2.5rem 100px 2.5rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--themeGreenMedium);
}

#intro img {
  width: 30%;
  height: 400px;
  background-color: gainsboro;
  object-fit: cover;
}

#intro .section-text {
  text-indent: 40px;
  width: 25%;
  flex-grow: 2;
  text-align: justify;
  margin: 2rem 4rem;
}

#about {
  padding: 80px 2.5rem 100px 2.5rem;
  border-bottom: 1px solid var(--themeGreenMedium);
}

#about h2,
#plans h2 {
  color: var(--themeGreenMedium);
  text-align: center;
  margin-bottom: 100px;
  font-size: clamp(32px, 12vw, 50px);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.container-cards-about {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card-about {
  text-align: center;
  width: 300px;
  height: 400px;
}

.card-about h3 {
  font-size: clamp(18px, 12vw, 24px);
  color: var(--themeGreenMedium);
  padding-bottom: 20px;
  border-bottom: 1px solid var(--themeGreenMedium);
}

.card-about img {
  margin-bottom: 20px;
}

.card-about p {
  padding: 40px 40px;
  text-align: center;
}

#plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 2.5rem 100px 2.5rem;
}

#plans h2 {
  margin-bottom: 60px;
}

.container-cards-plans {
  display: flex;
  gap: 1.5rem;
  flex-flow: row wrap;
  justify-content: center;
}

.card-plan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border: 1px solid var(--themeGreenMedium);
  border-radius: 20px;
  width: 300px;
  min-height: fit-content;
}

.card-plan:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  scale: 1.01;
  transition: 0.2s;
}

.card-plan h3 {
  font-size: clamp(28px, 12vw, 40px);
  margin-top: 15px;
  color: var(--themeGreenMedium);
}

.card-plan ul {
  text-align: left;
  margin-top: 25px;
}

.card-plan ul li {
  padding: 8px 10px;
  font-size: clamp(14px, 12vw, 18px);
  color: var(--themeGreenMedium);
}

.card-plan p {
  font-size: clamp(16px, 12vw, 24px);
}

.card-plan-basic p {
  font-weight: bold;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-plan-plus p,
.card-plan-premium p {
  background-color: var(--themeGreenMediumLight);
  height: 40px;
}

.card-plan-premium {
  background-color: var(--themeGreenLight);
}

.plans-btn {
  background-color: var(--themeGreenMedium);
  color: var(--themeWhite);
  height: 60px;
  width: 100%;
  margin-bottom: 0;
  border-radius: 0 0 16px 16px;
  border: 0;
  font-size: clamp(24px, 12vw, 32px);
  font-weight: 500;
}

.card-plans:hover {
  scale: 1.03;
  transition: 0.2s;
}

#contact {
  min-height: 200px;
  background-color: var(--themeGreenExtraLight);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contact .info img,
#contact .social img {
  margin-right: 10px;
}

#contact .container-logo {
  flex-grow: 1;
  margin: 5%;
}

#contact .footer-right {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

#contact .info,
#contact .social {
  min-width: 15rem;
}

@media screen and (max-width: 768px) {
  header ul {
    display: none;
    margin-top: 21px;
    margin-right: 5%;
    width: 250px;
    position: absolute;
    z-index: 1;
    right: 0;
    flex-direction: column;
  }

  header li {
    border-bottom: 1px solid var(--themeWhite);
    background-color: var(--themeGreenMedium);
    padding-top: 5px;
    width: 100%;
    height: 50px;
    text-align: center;
  }

  header li a {
    margin: 0 auto;
    padding: 5px 65px;
    color: var(--themeWhite);
  }

  header li a:hover {
    color: var(--themeWhite);
    opacity: 0.7;
  }

  .menu-icon {
    display: block;
  }

  button.login {
    display: none;
  }

  .list-item-login {
    display: initial;
  }

  .outdoor {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .CTA-glass {
    margin: 70px auto 0 auto;
    width: 540px;
    height: 340px;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
    background-color: var(--themeWhite);
    border-radius: 15px;
  }

  .CTA {
    margin: 100px auto 0 auto;
    text-align: center;
    height: 300px;
    width: 500px;
    text-align: center;
  }

  .hero-image-container {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 960px;
    overflow-y: hidden;
    clip-path: none;
  }

  .hero-image-container img {
    width: 100%;
    height: 960px;
  }

  #intro img {
    width: 100%;
  }

  #intro .section-text {
    width: 100%;
    margin: 2rem 0;
  }

  #about .container-cards-about {
    gap: 1.5rem;
  }

  #about .card-about {
    height: fit-content;
  }

  #plans .container-cards-plans {
    gap: 2.5em;
  }

  #contact .footer-right,
  .info,
  .social {
    align-content: none;
    margin: 5%;
  }
}

.patientCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 460px) {
  #contact .footer-right,
  #contact .container-logo {
    text-align: center;
    justify-content: center;
    padding: 20px;
  }

  #contact .info,
  #contact .social {
    margin-bottom: 40px;
    min-width: min-content;
  }
}
